<nav class="navbar">
    <div class="navbar-brand">
        <a href="#">Sarvesh Teware</a>
    </div>
    <button class="navbar-toggle" id="toggle-button">
        ☰
    </button>
    <ul class="navbar-links" id="navbar-links">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="contact">Contact</a></li>
        <li><a routerLink="services">Services</a></li>
        <li><a href="courses">Courses</a></li>
    </ul>
</nav>
<router-outlet />
<footer class="footer">
  <div class="footer-content">
    <p>© 2024 Sarvesh Teware. All Rights Reserved.</p>
    <div class="social-links">
      <a href="https://linkedin.com/in/sarvesh-teware" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/sarvesh-0" target="_blank">
        <i class="fab fa-github"></i>
      </a>
      <a href="mailto:sarveshteware651@gmail.com">
        <i class="fas fa-envelope"></i>
      </a>
    </div>
  </div>
</footer>
